<!DOCTYPE html>
<html lang="en">
  <title> Data Collector App</title>
  <head>
    <link href="../static/main.css" rel="stylesheet">
  </head>
    <body>
      <div class="container">
        <h1>Super Geocoder</h1>
        <h3>Please upload the file</h3>
        <form action="{{url_for('submitFile')}}" method="POST", enctype="multipart/form-data">
          <input type="file" name="upload_file" accept=".csv"> <br>
          <button type="submit"> Submit </button>
        </form>
        <div class="output">
          {{text|safe}}
          {% include btn ignore missing %}
          </div>
        <form action="{{url_for('success')}}" method="POST">
          <button type="Load_DB"> Load_DB </button>
        </form>
      </div>
    </body>
</html>
